@import '../libs/nib'

.animate-fade.ng-enter
  animation fade 1s

.animate-fade.ng-leave
  animation fade 1s

.animate-swing.ng-enter
  animation swing 1s

.animate-swing.ng-leave
  animation swing 1s

.animate-bounceInUp.ng-enter
  animation bounceInUp 1s